<h1> Movie Details</h1>
<br>

<h2>{{results.title}}</h2> 
<h3>{{results.genre}}</h3>
<p>Plot:</p>
<p>"{{results.plot}}"</p>

<p>Cast:</p>
<ul>
{{!-- Use an hbs #each loop to display tags with each celebrity's name --}}
{{#each results.cast}} {{!-- aqui una lista para cada nombre de artista --}}
<li>{{this.name}} : {{this.occupation}}, "{{this.catchPhrase}}"</li>

{{/each}}
</ul>


{{!-- Form to delete movies --}}
 <form action="/movies/{{results._id}}/delete" method="POST">
 <button type="submit">Delete movie</button>
</form>

{{!-- Form to edit movies --}}
 <form action="/movies/{{results._id}}/edit" method="GET">
 <button type="submit">Edit movie</button>
</form>
